.nav {
    font-size: 16px;
    position: relative;
    height: 100vh;
    min-width: 180px;
    max-width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(12, 1, 34);
    border-right: 2px dashed purple;
  }
  
  .navClosed {
      position: relative;
      color: transparent;
      height: 100vh;
      min-width: 100px;
      max-width: 5vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgb(12, 1, 34);
      border-right: 2px dashed purple;
    }



