
.toggler img {
  transform: rotateY(180deg);
}

.toggler {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 40px;
  width: 40px;
  right: -102px;
  top: 0;
  z-index: 3;
  border: 30px solid;
  border-color: transparent transparent transparent #ff13f0;
}

.toggler:hover {
  cursor: pointer;
}

.toggler img {
  position: relative;
  left: -35px;
  top: 8px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:#ff13f0;
    text-shadow: 1px 1px 1px ;
} 